<div id="user-page">
    <div id="main-container" class="container">
     <div class="row">
      <% if logged_in? %>
        <div class="logout">
          <%= button_to 'Logout', logout_path, :method => :delete %>
        </div>
      <% end %>
       <div id="sidebar" class="col-xs-3">
         <!-- sidebar content -->
          <div class="form">
            <%= form_for @user, :html => {:class => "container"} do |f| %>
            <h1>Hello <%= @user.username %>!</h1>
            <p>
              Welcome to your drum machine!
            </p>
       </div>
       <div id="snare" class="col-xs-9">
         <button type="button" class="btn" id="snare" value=>SNARE
         <select>
           <%= options_from_collection_for_select(Drum.all, 'sound_url', 'name') %>
         </select>
         </button>
       </div>
     </div>
   </div>
    <% end %>

  </div>
</div>
