@import "bootstrap-sprockets";
@import "bootstrap";
body {
  height: 1000px;
  background-size: cover;
  background: black;
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
}

#drum-machine{
  height: 600px;
  width: 600px;
  margin: 10px auto;
  background-color: rgb(44, 41, 47);
  border: 10px outset rgb(40, 7, 56);
  position: relative;
  border-radius: 12px;
}

.logout {
  margin: 15px;
  float: right;
}

.welcome {
  margin: 25px 10px 50px 10px;
  position: relative;
  float: left;
  width: 200px;
  border: 10px outset rgb(180, 125, 4);
  background-color: rgb(236, 144, 22);
  border-radius: 12px;
  text-align: center;
}

.col-s-9 {
  margin: 5px;
  height: 100%;
  width: 150px;
  float: left;
}

.btn {
  background-color: rgb(238, 167, 60);
  border-color: rgb(198, 150, 44);
  border-style: outset;
  border-width: 8px;
  height: 150px;
  width: 150px;
  display: block;
  position: relative;
  margin: 5px;
  font-weight: bold;
  color: rgb(122, 55, 0);
  border-radius: 12px;
}
.btn:hover{
  background-color: rgb(255, 195, 106);
}
select {
  background-color: rgb(238, 221, 107);
  width: 150px;
  margin-left: 10px;
}

.form {
  margin: 35px;
  width: 100px;
  position: absolute;
  display: block;
}
