@import "bootstrap-sprockets";
@import "bootstrap";

#main-container{
  height: 900px;
  width: 900px;
  margin: 0 auto;
}
.welcome {
  margin: 15px;
  margin-left: 80%;
  position: absolute;
  float: right;
  width: 200px;
  border-style: ridge;
}

.col-s-9 {
  margin: 10px;
  height: 100%;
  width: 150px;
  float: left;
}

.btn {
  background-color: rgb(238, 167, 60);
  border-color: rgb(198, 150, 44);
  border-style: outset;
  border-width: 8px;
  height: 100px;
  width: 100px;
  display: block;
  position: relative;
  margin: 15px;
}
.btn:hover{
  background-color: rgb(255, 195, 106);
}
select {
  background-color: rgb(238, 221, 107);
  width: 100px;
}
